.container{
    margin: auto;
    max-width: 1140px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.content , .category{
    display: flex;
    justify-content: space-between;
}

.visible{
    display: block;
}